body {
    font-family: var(--font-family-primary);
    background-color: var(--color-background);
    color: var(--color-text);
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: var(--font-family-secondary);
    margin-bottom: 20px;
    text-align: center;
}

p {
    margin-bottom: 15px;
    line-height: 1.6;
    text-align: center;
}

.bubble-1 {
  width: 300px;
  height: 400px;
  background: linear-gradient(135deg, #6366f1 0%, #8b5cf6 100%);
  position: absolute;
  top: 0%;
  right: -15%;
  filter: blur(50px);
  opacity: 0.2;
  z-index: 100;
  pointer-events: none;
}

.bubble-2 {
  width: 300px;
  height: 400px;
  background: linear-gradient(135deg, #6366f1 0%, #8b5cf6 100%);
  position: absolute;
  top: 40%;
  right: 30%;
  filter: blur(50px);
  pointer-events: none;
  opacity: 0.2;
  z-index: 100;
}

.btn-hero {
    margin-inline: auto;
    gap: 10px;
}

.btn-1 {
    padding: 15px 20px;
    border-radius: 25px;
    font-size: var(--font-size-medium);
    background-color: var(--color-primary);
}

.btn-2 {
    padding: 15px 20px;
    border-radius: 25px;
    font-size: var(--font-size-medium);
    background-color: var(--color-secondary);
    color: var(--color-background);
}

.container-links {
    margin-top: 20px;
}

#links {
    width: 160%;
    max-width: 500px;
    position: relative;
    left: -5%;
}