main {
    position: relative;
    overflow-x: hidden;
}

section {
    padding: 20px;
}

.bg-hero {
    display: flex;
    justify-content: center;
}

.bg-hero img {
    width: 180%;
    max-width: 500px;
    position: relative;
    left: 15%;
    top: -40px;
}